body {
    background-color: rgb(15, 36, 54);
    color: blue;
}


button {
    background-color: black;
    color: rgb(103, 201, 201);
    font-family: 'Courier New', Courier, monospace;
}



.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 30%;
}

img {
    max-width: 50%;
    max-height: 30%;
}
