body {
    background-color: rgb(59, 124, 180);
    color: blue;
}


button {
    background-color: black;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}



.passo {
    display: none;
}

passo-ativo {
    display: block;
}
